h1 {
	text-align: center;
}

.container {
	background-color: rgb(255, 255, 255);
	padding: 15px;
}

.marker {
	width: 200px;
	height: 25px;
	margin: 20px auto;
}

hr {
	width: 500px;
}

.red {
	background-color: #ff0000;
}

.green {
	background-color: #007F00;
}

.blue {
	background-color: #0000ff;
}