h1 {
	text-align: center;
}

.container {
	background-color: rgb(255, 255, 255);
	padding: 15px;
}

hr {
	width: 500px;
}

.marker {
	width: 200px;
	height: 25px;
	margin: 20px auto;
}

.cap {
  width: 60px;
  height: 25px;
}

.sleeve {
  width: 110px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.5);
  border-left: 10px double rgba(0, 0, 0, 0.75);
}

.cap, .sleeve {
  display: inline-block;
}

.red {
	background-color: #FF0000;
}

.green {
	background-color: #007F00;
}

.blue {
	background-color: #0000FF;
}

.yellow {
	background-color: #FFFF00;
}

.cyan {
	background-color: #00FFFF;
}

.magenta {
	background-color: #FF00FF;
}

.orange {
	background-color: #FF8000;
}

.springGreen {
	background-color: #00FF7F;
}

.violet {
	background-color: #7F00FF;
}

.chartreuse {
	background-color: #7FFF00;
}

.azure {
	background-color: #0080FF;
}

.roze {
	background-color: #FF0080;	
}

.gradientRed {
	background: linear-gradient(180deg, rgb(122, 74, 14), rgb(245, 62, 113), rgb(162, 27, 27));
}

.gradientGreen {
	background: linear-gradient(#55680D, #71F53E, #116C31);
}

.gradientBlue {
	 background: linear-gradient(hsl(186, 76%, 16%), hsl(223, 90%, 60%), hsl(240, 56%, 42%));
}

.redShadow {
	background: linear-gradient(rgb(122, 74, 14), rgb(245, 62, 113), rgb(162, 27, 27));
	box-shadow: 0 0 20px 0 rgba(83, 14, 14, 0.8);
}

.greenShadow {
	background: linear-gradient(#55680D, #71F53E, #116C31);
	box-shadow: 0 0 20px 0 #3B7E20CC
}

.blueShadow {
	background: linear-gradient(hsl(186, 76%, 16%), hsl(223, 90%, 60%), hsl(240, 56%, 42%));
	box-shadow: 0 0 20px 0 blue;
}
